@import "../css/index.scss";

.divHistorique {
  position: relative;
  width: min(375px, 100%);
  min-height: 95vh;
  padding-bottom: 200px;
  margin: 0 auto;

  .innerHistorique {
    position: relative;
    top: 100px;
    width: 95%;
    margin: 0 auto;
    text-align: center;

    .linkRetour {
      @include Link;

      &:hover {
        color: #112443;
        cursor: pointer;
      }
    }

    h2 {
      position: relative;
      top: 10px;
      font-family: poppinsLight;
      color: $heading_color;
    }

    h4 {
      user-select: none;
      text-align: left;
      position: relative;
      top: 20px;
      left: 10px;
      font-weight: lighter;
      transition: 0.5s;

      &:hover {
        cursor: pointer;
        letter-spacing: 3px;
      }

      &.active {
        font-weight: bold;
      }
    }

    .divTable::-webkit-scrollbar {
      display: none;
    }

    .divTable {
      width: 95%;
      margin: 35px auto;
      white-space: nowrap;
      overflow-x: scroll;

      table.innerTable {
        width: 693px;
        background-color: #ffffff;
        border-collapse: collapse;
        border-width: 1px;
        border-color: #9e9e9e;
        border-style: solid;
        color: #292929;
        td {
          border-width: 1px;
          border-color: #9e9e9e;
          border-style: solid;
          padding: 5px;

          span {
            display: flex;
            justify-content: space-between;
            white-space: normal;

            h4 {
              top: 0;
              left: 0;
            }
          }

          p {
            font-size: 11px;
            color: #a5a5a5;
            padding-top: 5px;
          }

          .nbrAction, .deleteAction {
            cursor: default;
            text-align: center;
            width: 30px;
            height: 30px;
            border: 2px solid #112443;
            padding: 5px;
            border-radius: 50%;
            background: whitesmoke;
          }

          .deleteAction {
            cursor: pointer;
            border: 2px solid #bb1212;
            background: rgb(245, 219, 219);
          }

          button {
            width: 91px;
            height: 28px;
            border-radius: 5px;
            border: 1px solid #272727;
            background: $sec_color;
            margin: 5px;
            transition: 0.5s;

            &:hover {
              transform: scale(1.1);
            }

            &.btnStatus {
              cursor: default;
              background: transparent;

              &.Ok {
                border: 2px solid #11a911;
                color: #11a911;
              }
              &.notOk {
                border: 2px solid #c33636;
                color: #c33636;
              }
              &.waiting {
                border: 2px solid #dba736;
                color: #dba736;
              }
            }
          }
        }
        th {
          border-width: 1px;
          border-color: #9e9e9e;
          border-style: solid;
          padding: 5px;
        }
        thead {
          background-color: #f2f1e8;
        }
      }
    }
  }
}

// TABLETTE
@media screen and (min-width: 768px) {
  .divHistorique {
    width: min(768px, 100%);

    .innerHistorique {
      top: 100px;

      h2 {
        top: 0;
      }
      .navigation {
        display: flex;
        column-gap: 10px;
        h4 {
          left: 20px;
        }
      }
    }
  }
}

// DESKTOP
@media screen and (min-width: 1280px) {
  .divHistorique {
    width: min(1366px, 100%);

    .innerHistorique {
      display: block;
      top: 120px;
      width: 70%;

      .linkRetour {
        left: 0px;
      }

      h2 {
        top: -10px;
      }

      .navAndTable {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .navigation {
          display: block;
          width: 150px;

          h4 {
            left: 0;
            line-height: 30px;
            &:hover {
              letter-spacing: 0px;
              transform: scale(1.1) !important;
            }
          }
        }

        .divTable {
          width: 80%;
          margin-top: 20px;
          table.innerTable {
            width: 710px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
