@import "../css/index.scss";

.divInscriptionCdt {
  position: relative;
  width: min(375px, 100%);
  padding-bottom: 200px;
  margin: 0 auto;

  .innerInscriptionCdt {
    position: relative;
    top: 100px;
    width: 95%;
    margin: 0 auto;
    color: $heading_color;

    // h4 {
    //   font-family: poppinsLight;
    //   position: absolute;
    //   top: 355px;
    //   left: 50%;
    //   width: max-content;
    //   transform: translateX(-50%);
    //   z-index: 1;
    // }

    .linkRetour {
      @include Link;

      &:hover {
        cursor: pointer;
        color: #112443;
      }
    }

    .bienvenue {
      width: 100%;
      position: relative;
      top: 15px;
    }

    .divTop {
      @include divTop;

      .cardObjectif {
        .value {
          ul {
            li {
              text-align: left;
              font-size: 14px;
              font-weight: lighter;

              &::before {
                content: "•";
                position: relative;
                top: 2px;
                color: $sec_color;
                font-weight: bold;
                display: inline-block;
                font-size: 20px;
                width: 0.8em;
                margin-left: -15px;
                line-height: 0;
              }
            }
          }
        }
      }
    }

    .left {
      position: relative;
      width: 100%;
      margin-top: 15px;
    }

    .right {
      position: relative;
      text-align: center;

      .forInput {
        position: relative;
        top: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        row-gap: 10px;
        align-items: center;

        label {
          width: 100%;
          text-align: left;
          padding: 0 0 5px 15px;
        }

        span.passHint {
          width: max-content;
          position: absolute;
          right: 30px;
          top: 19px;
          background: white;
          padding: 0 0 0 5px;
          cursor: pointer;
        }

        input.fontSizeInput {
          font-size: 1rem;
        }

        input,
        select,
        .datePicker {
          width: 93%;
          padding: 1.3rem 10px;
          font-size: 1rem;
          letter-spacing: 0.062rem;
          margin-bottom: 10px;
          border: 1px solid #00000033;
          color: #757575;
          background: #ffffff;
          border-radius: 4px;

          &:focus {
            outline: none;
            border: 1px solid #589d9d;
          }
        }

        input[type="submit"] {
          width: max-content;
          @include roundedBtn;

          &:hover {
            transform: scaleX(1.1);
          }
        }
      }
    }
  }
}

// TABLETTE
@media screen and (min-width: 768px) {
  .divInscriptionCdt {
    width: min(768px, 100%);

    .innerInscriptionCdt {
      top: 100px;
      h2 {
        top: 555px;
      }
      .divTop {
        .cardObjectif {
          flex-direction: row;
          align-items: center;

          .value {
            width: 70%;
          }

          .imgValue {
            width: 45%;
            height: 200px;
          }
        }
      }
      .left {
        width: 75%;
        margin: 15px auto;
      }

      .right {
        width: 50%;
        margin: 0 auto;
      }
    }
  }
}

// DESKTOP
@media screen and (min-width: 900px) {
  .divInscriptionCdt {
    width: min(1366px, 100%);

    .innerInscriptionCdt {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      top: 120px;
      width: 70%;

      @media screen and (min-width: 1024px) {
        h2 {
          font-family: "PoppinsLight";
          top: -20px;
          font-size: 24px !important;
        }
      }
      h2 {
        top: -20px;
        font-size: 30px;
      }

      .left {
        width: 494px;
        margin: 0 auto;
        margin-top: 80px;
      }

      .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
        margin-top: 80px;

        .forInput {
          top: 0;
          row-gap: 0;

          input,
          select {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
