@import "../css/index.scss";

.outerDivNotif {
  position: relative;
  width: min(375px, 100%);
  height: 100vh;
  padding-bottom: 200px;
  margin: 0 auto;

  .innerDivNotif {
    position: relative;
    top: 100px;
    width: 95%;
    margin: 0 auto;
    text-align: center;

    .linkRetour {
      @include Link;

      &:hover {
        color: #112443;
      }
    }

    h2 {
      font-family: poppinsLight;
      color: $heading_color;
    }

    .allNotif {
      margin-top: 20px;
      width: 100%;

      .notif {
        margin-top: 20px;
        padding: 10px;

        h4 {
          font-family: poppinsBold;
          font-size: 18px;
          color: $first_color;
        }

        span {
          p {
            font-size: 0.8rem;
          }
          p:nth-child(2) {
            color: #0000006e;
          }
        }

        &:nth-child(odd) {
          background-color: #2728281c;
        }
      }
    }
  }
}

// TABLETTE
@media screen and (min-width: 767px) {
  .outerDivNotif {
    width: min(768px, 100%);

    .innerDivNotif {
      top: 100px;

      .allNotif {
        .notif {
          h4 {
            text-align: left;
            padding-left: 8px;
          }
          span {
            display: flex;
            justify-content: space-between;

            p:first-child {
              width: 75%;
              text-align: left;
              padding-left: 8px;
            }

            p:nth-child(2) {
              padding-right: 8px;
            }
          }
        }
      }
    }
  }
}

// DESKTOP
@media screen and (min-width: 1280px) {
  .outerDivNotif {
    width: min(1366px, 100%);

    .innerDivNotif {
      display: flex;
      flex-direction: column;
      top: 120px;
      width: 65%;

      .linkRetour {
        left: 0;
      }

      .allNotif {
        .notif {
          span {
            p:first-child {
              width: 83%;
            }
          }
        }
      }
    }
  }
}
