@import "../css/index.scss";

.divResetPassword {
  position: relative;
  width: min(375px, 100%);
  padding-bottom: 200px;
  margin: 0 auto;

  .innerResetPassword {
    position: relative;
    top: 100px;
    width: 95%;
    margin: 0 auto;
    color: $heading_color;

    .linkRetour {
      @include Link;
      top: -20px;
      left: 20px;

      &:hover {
        cursor: pointer;
        color: #112443;
      }
    }

    .left {
      position: relative;
      width: 100%;
      margin-top: 15px;
    }

    .right {
      position: relative;
      text-align: center;

      h2 {
        font-family: poppinsLight;
        font-size: 2rem;
        top: -5px;

        b {
          font-family: poppinsBold;
        }
      }

      .forInput {
        position: relative;
        top: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        row-gap: 10px;
        align-items: center;

        label {
          width: 100%;
          text-align: left;
          padding: 0 5px 5px;
        }

        input,
        select {
          width: 93%;
          padding: 1.3rem 10px;
          font-size: 0.8rem;
          letter-spacing: 0.062rem;
          margin-bottom: 10px;
          border: 1px solid #00000033;
          color: #757575;
          background: #ffffff;
          border-radius: 4px;

          &:focus {
            outline: none;
            border: 1px solid #589d9d;
          }
        }

        input[type="submit"] {
          width: max-content;
          padding: 10px 20px;
          border: none;
          outline: none;
          color: #112442;
          font-weight: bold;
          background-color: $sec_color;
          cursor: pointer;
          border-radius: 30px;
          font-size: 0.8rem;
          margin-top: 20px;
          transition: 0.5s;

          &:hover {
            transform: scaleX(1.1);
          }
        }
      }
    }
  }
}

// TABLETTE
@media screen and (min-width: 768px) {
  .divResetPassword {
    width: min(768px, 100%);

    .innerResetPassword {
      top: 100px;
      h2 {
        top: 555px;
      }
      .left {
        width: 75%;
        margin: 15px auto;
      }

      .right {
        width: 50%;
        margin: 0 auto;

        .forInput {
          row-gap: 0;

          &.admin {
            top: 30px;
          }

          &.entreprise {
            top: 15px;
          }
        }
      }
    }
  }
}

// DESKTOP
@media screen and (min-width: 900px) {
  .divResetPassword {
    width: min(1366px, 100%);

    .innerResetPassword {
      display: flex;
      flex-direction: row-reverse;
      top: 120px;
      width: 70%;

      @media screen and (min-width: 1024px) {
        h2 {
          font-family: "PoppinsExtraLight";
          top: -20px;
          font-size: 40px !important;
        }
      }
      h2 {
        top: -20px;
        font-size: 30px;
      }

      .left {
        width: 494px;
        margin: 0 auto;
        margin-top: 15px;
      }

      .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
        margin-top: 80px;

        .titleH2Ets {
          top: -65px;
        }

        h2 {
          top: -40px;
        }

        .forInput {
          input,
          select {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
